{% if question %}
    <form action="/questions/{{ question.id }}" method="post">
{% else %}
    <form action="/questions" method="post">
{% endif %}
        <div>
            <label for="question">Name: </label>
            {% if question %}
            <input id="question" type="text" name="question" value="{{ question.question }}" required />
            {% else %}
            <input id="question" type="text" name="question" required />
            {% endif %}
        </div>
        <div>
            <label for="label">Quiz ID: </label>
            {% if question %}
                <input id="quizId" type="number" name="quizId" value="{{ question.quizId }}" required />
            {% else %}
                <input id="quizId" type="number" name="quizId" required />
            {% endif %}
        </div>
        <input type="submit" value="Save Question" />
    </form>