{% extends 'layouts/_default.twig' %}

{% block main_content %}
    <a href="https://github.com/login/oauth/authorize?client_id=67d8675b6e1cfc39a6b0">
        Login with GitHub
    </a>
{% endblock %}