<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Title</title>
</head>
<body>
    {% include 'partials/header.twig' %}
    {% block main_content %}
    {% endblock %}
    {% include 'partials/footer.twig' %}
</body>
</html>